<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheResultFile=".phpunit.cache/test-results"
    executionOrder="depends,defects"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    convertDeprecationsToExceptions="true"
    verbose="true"
    colors="true"
    testdox="true"
>
    <!-- above, we add colors to the test results in cli withi this line colors="true"-->

    <!--  -->
    <testsuites>

        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>

        <!-- .\vendor\bin\phpunit /-/-testsuite BMI. Here we want to call this class for testing. -->
        <testsuite name="BMI">
            <directory>tests/BMICalculatorTest.php</directory>
        </testsuite>

        <!--  .\vendor\bin\phpunit /-/-testsuite Fixtures. Here we want to call all in this dir.-->
        <testsuite name="Fixtures">
            <directory>tests/fixtures</directory>
        </testsuite>

        
    </testsuites>

    <!-- Here we can define our php constants -->
    <php>
        <const name='BASEURL' value='http://localhost:8000'/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
